@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#trackers-and-chart-container {
  position: relative;
  margin: auto;
  padding: 0;
  width: 60%;
  height: 1000px;
}

#trackers-container {
  width: 100%;
}


.tracker {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-size: 40px;
}

.tracker > span {
  font-family: 'Roboto', sans-serif;
}

.tracker > span:first-of-type {
  flex-basis: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tracker > span:last-of-type {
  flex-basis: 20%;
}

.tracker > button {
  font-size: 40px;
  flex-basis: 5%;
  border: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  transition: all 0.2s;
  outline: none;
}

.tracker > button:hover {
  color: rgb(167, 167, 167);
}


button.playPause {
  position: relative;
  left: 0;
}

button.edit, button.delete {
  position: relative;
  right: 0;
}

button.delete:hover {
  color: rgb(255, 109, 109);
}

button#add-tracker {
  width: 100%;
  text-decoration: none;
  background: transparent;
  color: rgb(107, 107, 107);
  border: 2px solid rgb(219, 219, 219);
  border-radius: 5px;
  font-size: 40px;
  padding: 5px;
  margin: 10px 0 60px 0;
  transition: all 0.2s;
  outline: none;
}

button#add-tracker:hover {
  color: black;
  border-color: black;
  cursor: pointer;
}

#cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgb(129, 129, 129);
  opacity: 0.5;
}

#add-form, #edit-form {
  background: #fff;
  border-top: 6px solid #3994df;
  position: fixed;
  width: 300px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  z-index: 999;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

#add-form > div, #edit-form > div {
  width: 70%;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}

#add-form > div:first-child, #edit-form > div:first-child {
  width: 100%;
  padding: 5px 0;
  background: #3994df;
}

#add-form h1, #edit-form h1 {
  width: 70%;
  margin: 0 auto; 
  padding: 0;
  color: hsla(0, 0%, 100%, 0.86);;
  font-size: 20px;
}

#add-form input[type="text"], #edit-form input[type="text"] {
  height: 20px;
  outline: none;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

#add-form input[type="color"], #edit-form input[type="color"] {
  cursor: pointer;
  border: none;
  margin: none;
  padding: none;
}

#add-form input[type="submit"], #add-form input[type="button"],
#edit-form input[type="submit"], #edit-form input[type="button"] {
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  transition: all 0.1s;
}

#add-form input[type="submit"], #edit-form input[type="submit"] {
  color: hsla(0, 0%, 100%, 0.86);
  background: #3994df;
  padding-right: 10px;
}

#add-form input[type="submit"]:hover,  #edit-form input[type="submit"]:hover {
  background: #0077d8;
}

#add-form input[type="button"],  #edit-form input[type="button"]{
  background: rgb(253, 239, 239);
}

#add-form input[type="button"]:hover, #edit-form input[type="button"]:hover {
  background: rgb(219, 135, 135);
}

#add-form > div:last-child, #edit-form > div:last-child {
  top: 50px;
}

#canvas-container {
  margin: 0 auto;
  width: 50%;
}

canvas {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #trackers-and-chart-container {
    width: 100%;
  }

  .tracker, .tracker > button, #add-tracker {
    font-size: 25px;
  }
}